USER-SUPPLIED VALUES:
containers: null
controllers:
  main:
    containers:
      main:
        env:
          DOTNET_SYSTEM_NET_DISABLEIPV6: "1"
          PGID: "1000"
          PUID: "1000"
          TZ: Europe/London
        image:
          repository: linuxserver/prowlarr
          tag: latest
    pod:
      dnsConfig:
        options:
        - name: single-request-reopen
        - name: ndots
          value: "1"
        - name: timeout
          value: "1"
        - name: attempts
          value: "2"
ingress:
  main:
    className: nginx
    enabled: true
    hosts:
    - host: prowlarr.lan
      paths:
      - path: /
        pathType: Prefix
        service:
          identifier: main
          port: http
persistence:
  config:
    accessMode: ReadWriteOnce
    globalMounts:
    - path: /config
    size: 2Gi
    storageClass: local-path
    type: persistentVolumeClaim
service:
  main:
    controller: main
    ports:
      http:
        port: 9696
